
.planet{
    cursor: pointer;
}

.darkGray{
    color:#282828;
}
.gray{
    color:#585858;
}
.silver{
    color:#808080;
}
.lightGray{
    color:#A8A8A8;
}
.gainsboro{
    color:#C0C0C0;
}
.red{
    color:#ff3333;
}